body{
    background-color: skyblue;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 100%;
    font-size: 1rem;
}

header{
    background-color: aquamarine;
    text-align: center;
    color:red;
}
h1 {
    font-size: 30px;
}
h3 {
    font-size: 50px;
}
